h1 {
  font-size: 5rem;
  font-family: sans-serif;
}
h2 {
  font-size: 3rem;
  font-family: cursive;
}

.header {
  background-color: green;
  text-align: center;
  padding: 3% 0;
}

.game {
  text-align: center;
  background-color: green;
}
